*{padding: 0;margin:0;}
.flow-content{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.left_side{
    width: 180px;
    border: 2px dotted #d9dadc;
    border-right: none;
    border-radius: 3px;
    padding: 0 10px;
    &>div{
        width: 94%;
        border-bottom: 1px solid #e7e7eb;
        &>p{
            font-size: 14px;
            padding: 10px 0 5px;
        }
        &>div{
            display: flex;
            flex-wrap: wrap;
            border: none;
            &>div{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 30%;
                height: 30%;
                border-radius: 3px;
                margin: 5px 1.5%;
                &>img{
                    width: 30px;
                    height: 30px
                }
                &>div{
                    width: 120px;
                    padding: 10px;
                    position: absolute;
                    border:1px #f0f0f0 solid;
                    border-radius: 5px;
                    top: 100%;
                    left: 50%;
                    background-color: #fff;
                    z-index: 1001;
                    text-align: center;
                    &>img{
                        width: 80%;
                    }
                    &>p{
                        text-align: center
                    }
                }
            }
        }
    }
}
.assembly-img{
    cursor: pointer;
    &:hover{
        box-shadow:#ccc 0 0 5px;
    }
}
.line-img{
    &:hover{
        background-color: rgba(216, 212, 212, 0.3);
    }
}
.line-img-active{
    background-color: rgba(0, 0, 0, .3);
}
.content{
    width: calc(100% - 201px);
    border:1px solid #e7e7eb;
    text-align: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.action-field{
    position: absolute;
    z-index: 11;
    right: 0;
    top:0;
    button{
        display: block;
        width: 80px;
        height: 35px;
        border-radius: 3px;
        margin: 8px;
        background-color: green;
        color:#fff;
        &:hover{
            background-color: rgb(83, 141, 16)
        }
    }
}

.canvas_pc{
    width: 100%;
    height: 100%;
}
.canvas_mobile{
    width: 480px;
    height: 100%;
    margin: 0 auto;
    border: 1px #ccc solid;
    min-height: 852px;
}