*{padding: 0;margin:0;}
.flow-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.left_side{
    width: 180px;
    border: 1px #ccc solid;
    border-radius: 3px;
    overflow-y: auto;
    padding: 0 10px;
    div{
        width: 94%;
        p{
            font-size: 18px;
            padding: 10px 0 5px;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            img{
                width: 30%;
                height: 30%;
                border-radius: 3px;
                margin: 5px 1.5%;
            }
        }
    }
    div.name{
        width: 150%;
        height: 150%
    }
}
.assembly-img{
    cursor: pointer;
    &:hover{
        box-shadow:#ccc 0 0 5px;
    }
}
.line-img{
    &:hover{
        background-color: rgba(216, 212, 212, 0.3);
    }
}
.line-img-active{
    background-color: rgba(0, 0, 0, .3);
}
.content{
    width: calc(100% - 201px);
    box-shadow: #ccc 0 0 5px;
    border-left:1px #ccc solid;
    canvas{
        width: 100%;
        height: 100%;
    }
}
