*{padding: 0;margin:0;}
.flow-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.left_side{
    width: 180px;
    border: 2px dotted #d9dadc;
    border-right: none;
    border-radius: 3px;
    overflow-y: auto;
    padding: 0 10px;
    div{
        width: 94%;
        border-bottom: 1px solid #e7e7eb;
        p{
            font-size: 14px;
            padding: 10px 0 5px;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            border: none;
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;
                height: 30%;
                border-radius: 3px;
                margin: 5px 1.5%;
                img{
                    width: 30px;
                    height: 30px
                }
            }
        }
    }
}
.assembly-img{
    cursor: pointer;
    &:hover{
        box-shadow:#ccc 0 0 5px;
    }
}
.line-img{
    &:hover{
        background-color: rgba(216, 212, 212, 0.3);
    }
}
.line-img-active{
    background-color: rgba(0, 0, 0, .3);
}
.content{
    width: calc(100% - 201px);
    border:1px solid #e7e7eb;
    canvas{
        width: 100%;
        height: 100%;
    }
}
